@use '../../styles/globals' as globals;

.buttonStyle{
  display: flex;
  flex-direction: row;

    
button{
   width: 100px;
  font-size: 16px;
  height: 100px;
  margin:2px;
  padding:0px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  background-color: globals.$color_light_brown;
  color: globals.$color_bg_white;
  font-family: "Imprima", sans-serif;
  cursor: pointer;
}
}

//mediaQueries mobile
@media (max-width: 767px)  {
.buttonStyle{
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(2, 1fr);

    
}}