//
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');


//   font-family: "Imprima", sans-serif;

 
 // Colors
$color_bg_green:#ACBDAA;
$color_bg_white: #FEFEFE;
$color_blue: #1E2D4C;
$color_grey: #858585;
$color_light_brown:#CEC0BB;
$gradient-primary: linear-gradient(90deg,#ACBDAA 20%,#858585 41%,#1E2D4C 65%,#CEC0BB 90%);