//
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');


//   font-family: "Imprima", sans-serif;

 
 // Colors
$color_bg_green:#ACBDAA;
$color_green:#7d887d;
$color_bg_white: #FEFEFE;
$color_blue: #1E2D4C;
$color_grey: #858585;
$color_light_brown:#CEC0BB;


